.box_menu {
    display: flex;
    justify-content: flex-end;
}

.box_menu,
.box_lang {
    margin-top: 5%;
}

.box_logo{
    display: flex;
    align-items:flex-end; 
    height: 100%;
}

.box_logo img {
    border-radius: 50%;
}

.nav{
    height: 27vh;
    padding-bottom: 2%;
    background: white;
}

.modal-content{
    background-image: url("../../images/menu.jpg");
    text-align: center;
}

.menu-op{
    height:10vh;
    font-size: 1.3em;
}

.menu-op a {
    color: black;
}

#container-modal-title a{
    font-size: 2.1em;
    color:white;
}

.modal-header span{
    font-size: 2em;
}