.box_menu {
    display: flex;
    justify-content: flex-end;
}

.box_menu,
.box_lang {
    margin-top: 5%;
}

.box_logo{
    display: flex;
    align-items:flex-end; 
    height: 100%;
}

.box_logo img {
    border-radius: 50%;
}

.nav{
    height: 27vh;
    padding-bottom: 2%;
    background: white;
}


