.box_menu {
    display: flex;
    justify-content: flex-end;
}

.box_menu,
.box_lang {
    margin-top: 5%;
}

.box_logo{
    height: 100%;
    padding: 0;
}

.box_logo img {
    border-radius: 50%;
    position: absolute;
    bottom:-50%;
    z-index: 1;
}

.nav{
    height: 19vh;
    background-image: url(../../images/menu.jpg);
    margin-bottom: 10vh;
}

.modal-content{
    background-image: url("../../images/menu.jpg");
    text-align: center;
    border-radius: 5%;
}

.menu-op{
    height:10vh;
    font-size: 1.3em;
    
}

.menu-op a {
    color: black;
}

#container-modal-title a{
    font-size: 2.1em;
    color:white;
}

.modal-header span{
    font-size: 2em;
}